*{
	margin:0;
	padding:0;

}
.title{
	font-weight: bold;
}

.navbar a{
	color:#000;
	font-weight:bold;
}
.navbar a:hover{
	color:orange !important;
	transition: 0.9s;
}

.marg{
	margin-left: 30px;
	margin-right: 30px;
}
.block{
	display: block;
}
.justify{
	text-align: justify;
	

}
.navbar-brand{
	font-size:35px !important;
	font-weight:bold;
	color:rgba(0,0,0,0.6) !important;
}
.navbar-brand:hover{
	color:rgba(0,0,0,1) !important;
	transition: 0.9s;
	font-size:38px !important;

}
.center{
	margin:auto;
}